html, body {
    margin: 0;
    padding: 0;
    background-color: rgba(77, 77, 77, 1);
    font-family: "Roboto";
    font-weight: bold;
  }
  
  .banner {
    width: 100%;
    padding: 10px 15px;
    background-color: rgba(172, 171, 151, 1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  .profile-img {
    width: 80px;
    height: 80px;
  }
  
  .icons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
   
  .icon-placeholder {
    width: 45px;
    height: 45px;
    border-radius: 8px;
  }
  
  .header {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .header h1 {
    margin: 0;
    padding: 10px;
    font-size: 36px;
  }

  .gallery-container {
    position: relative;
    width: 300px;
    margin: 0 auto;
  }
  .photo {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .arrow {
    position: absolute;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #ccc;
    background: none;
    border: none;
    cursor: pointer;
  }
  .arrow:hover {
    color: white;
  }
  .left-arrow {
    left: -25px;
  }
  .right-arrow {
    right: -25px;
  }
  
.caption {
    align-items: center;
    justify-self: center;
    padding: 0;
    color: rgba(255, 255, 255, 1);
}
  